* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    overflow-y: scroll;
    
    font-family: Arial, Helvetica, sans-serif;

    background: #050914;

    color: #ffffff;

    line-height: 1.5;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


::selection {
    background: #584cfb;
    color: #010E1D;
}

/* ==============================
   NAVBAR
================================ */

.navbar {
    height: 72px;

    width: 100%;

    padding: 18px 6%;

    display: flex;

    position: fixed;

    justify-content: space-between;

    align-items: center;

    
    background: rgba(8, 13, 29, 0.75);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(139, 124, 255, 0.15);

    z-index: 1000;

}

/* Brand */

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #FCFCFC;

    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2.25rem;
}

.nav-left:hover {
    color: white;
}

.logo {
    width: 46px;
    height: 46px;
    min-width: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 12px;
    flex-shrink: 0;
}

/* Navigation */

.nav-opt {
    display: flex;
    gap: 3rem;
    align-items: center;

    /* font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500; */
}

.nav-links {
    position: relative;

    color: #aeb7cc;
    text-decoration: none;

    font-size: 14px;
    font-weight: 600;

    padding: 8px 4px;

    transition: color 0.2s ease;
}

/* Gradient underline */
.nav-links::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 0;

    width: 0;
    height: 2px;

    background: linear-gradient(
        90deg,
        #8b7cff,
        #b999fe,
        #7ceeff
    );

    border-radius: 10px;

    transform: translateX(-50%);
    transition: width 0.25s ease;
}

/* Hover */
.nav-links:hover {
    color: #ffffff;
}

.nav-links:hover::after {
    width: 100%;
}

/* Active */
.nav-links-active {
    color: #ffffff;
}

.nav-links-active::after {
    width: 100%;
}

/* Profile button */

.profile-btn {
    padding: 11px 20px;

    background: transparent;

    color: white;

    border: 1px solid #28344e;

    border-radius: 10px;

    cursor: pointer;
}

.profile-btn:hover {
    border-color: #6655ff;
    background: #121832;
}

/* ==============================
   HERO
================================ */

.hero {
    padding:80px;

    min-height: 650px;

    background:
        radial-gradient(circle at 70% 20%,
            rgba(80, 55, 255, 0.16),
            transparent 35%),
        #050914;
}


/* Hero content */

.hero-content{
    padding: 110px 0px 40px 0px;
    /* max-width: 850px; */
    margin: auto;
    text-align: center;
}


/* Badge */

.badge {
    display: inline-block;

    padding: 9px 18px;

    border-radius: 30px;

    background: rgba(103, 76, 255, 0.15);

    color: #a78bfa;

    font-size: 13px;

    margin-bottom: 20px;
}


/* Main heading */

.hero h1 {
    font-size: 55px;

    line-height: 1.15;

    margin-bottom: 20px;
}

.hero h1 span {
    background: linear-gradient(90deg,
            #2f80ff,
            #8b3dff);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}


/* Description */

.hero-description {
    max-width: 760px;

    margin: auto;

    color: #9da8bd;

    font-size: 17px;
}


/* ==============================
   PROBLEM CARD
================================ */

.problem-card {
    max-width: 1050px;

    margin: 45px auto 0;

    padding: 25px;

    background: #0b1222;

    border: 1px solid #26324d;

    border-radius: 15px;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.35);
}


/* Header */

.problem-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}

.problem-title {
    display: flex;

    gap: 15px;

    align-items: center;
}

.problem-icon {
    width: 42px;

    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 10px;

    background: rgba(112, 72, 255, 0.15);

    color: #8b6cff;

    font-size: 22px;
}

.problem-title h3 {
    font-size: 16px;
}

.problem-title p {
    color: #7e899f;

    font-size: 13px;
}


/* AI Ready */

.ai-ready {
    padding: 8px 15px;

    border-radius: 20px;

    background: rgba(34, 197, 94, 0.08);

    color: #55d987;

    font-size: 12px;
}

.ai-ready span {
    display: inline-block;

    width: 7px;

    height: 7px;

    background: #22c55e;

    border-radius: 50%;

    margin-right: 5px;
}


/* Textarea */

#promptInput {
    width: 100%;
    min-height: 44px;
    max-height: 200px;

    resize: none;
    overflow-y: auto;

    padding: 12px 16px;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;

    border: 1px solid #ddd;
    border-radius: 12px;

    outline: none;
}

textarea {
    width: 100%;

    resize: vertical;

    padding: 18px;

    background: #080e1b;

    color: white;

    border: 1px solid #293650;

    border-radius: 10px;

    outline: none;

    font-size: 14px;

    min-height: 52px;
    max-height: 180px;

    padding: 14px 16px;

    /* resize: none; */
    /* overflow-y: auto; */

    /* border: none; */
    /* outline: none; */

    /* background: transparent; */

    /* font-family: inherit; */
    /* font-size: 16px; */
    /* line-height: 1.5; */

    /* box-sizing: border-box; */

}

.promptInput:focus {
    border-color: #765cff;
}

/* form stat */

/* to end  */
/* ==============================
   OPTIONS
================================ */

.options {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 15px;

    margin-top: 18px;
}

.option-box {
    display: flex;

    align-items: center;

    gap: 12px;

    padding: 15px;

    border: 1px solid #293650;

    border-radius: 10px;

    background: #080e1b;
}

.option-icon {
    font-size: 20px;
}

.option-box small {
    display: block;

    color: #778299;

    font-size: 11px;
}

.option-box strong {
    font-size: 13px;
}

.arrow {
    margin-left: auto;

    color: #8d97aa;
}


/* ==============================
   PROBLEM FOOTER
================================ */

.problem-footer {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 20px;
}

.problem-footer p {
    color: #778299;

    font-size: 12px;
}


/* Analyze button */

.analyze-btn {
    display: inline-flex;

    align-items: center;

    gap: 20px;

    padding: 13px 25px;

    background:
        linear-gradient(90deg,
            #315cff,
            #7b2cff);

    color: white;

    text-decoration: none;

    border-radius: 9px;

    font-weight: bold;

    font-size: 14px;
}


/* ==============================
   HOW IT WORKS
================================ */

.how-it-works {
    padding: 80px 7%;

    background: #070c18;
}

.section-heading {
    text-align: center;

    margin-bottom: 45px;
}

.section-heading>p {
    color: #8b6cff;

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 2px;
}

.section-heading h2 {
    font-size: 32px;

    margin: 8px 0;
}

.section-heading h2 span {
    color: #7164ff;
}

.section-heading small {
    color: #7e899f;
}


/* Steps */

.steps {
    max-width: 1250px;

    margin: auto;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 12px;
}

.step-card {
    flex: 1;

    min-height: 150px;

    display: flex;

    gap: 15px;

    padding: 20px;

    border: 1px solid #27334b;

    border-radius: 12px;

    background: #0b1221;
}

.step-icon {
    min-width: 50px;

    height: 50px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 10px;

    font-size: 23px;
}

.purple {
    background: rgba(139, 92, 246, 0.15);
}

.green {
    background: rgba(34, 197, 94, 0.12);
}

.yellow {
    background: rgba(234, 179, 8, 0.12);
}

.blue {
    background: rgba(59, 130, 246, 0.15);
}

.step-card h3 {
    font-size: 14px;

    margin-bottom: 8px;
}

.step-card p {
    color: #7f8aa0;

    font-size: 12px;
}

.arrow-line {
    color: #645aff;

    font-size: 24px;
}


/* ==============================
   CTA
================================ */

.cta {
    max-width: 1250px;

    margin: 0 auto 60px;

    padding: 25px 35px;

    display: flex;

    align-items: center;

    gap: 25px;

    border: 1px solid #4038a0;

    border-radius: 12px;

    background:
        linear-gradient(100deg,
            #21186d,
            #16113f);
}

.rocket {
    font-size: 45px;
}

.cta div:nth-child(2) {
    flex: 1;
}

.cta h2 {
    font-size: 21px;
}

.cta p {
    color: #a3a9c1;

    font-size: 13px;
}

.cta-btn {
    padding: 13px 25px;

    background:
        linear-gradient(90deg,
            #315cff,
            #7b2cff);

    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-size: 13px;

    font-weight: bold;
}


/* ==============================
   FOOTER
================================ */

footer {
    padding: 45px 8% 20px;

    background: #040711;

    border-top: 1px solid #1c2740;
}

.footer-brand {
    display: flex;

    gap: 15px;

    align-items: center;
}

.footer-logo {
    width: 45px;

    height: 45px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 10px;

    background: linear-gradient(135deg,
            #315cff,
            #7b2cff);

    font-weight: bold;
}

.footer-brand h3 {
    font-size: 15px;
}

.footer-brand p {
    color: #707b92;

    font-size: 12px;
}

.footer-links {
    display: flex;

    justify-content: flex-end;

    gap: 100px;

    margin-top: -40px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links a {
    display: block;

    color: #7e899f;

    text-decoration: none;

    font-size: 13px;

    margin-bottom: 5px;
}

.social-icons {
    display: flex;

    gap: 10px;
}

.social-icons span {
    width: 35px;

    height: 35px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    background: #111a2d;

    color: #b5bfd3;

    font-size: 11px;
}

.copyright {
    text-align: center;

    margin-top: 40px;

    padding-top: 20px;

    border-top: 1px solid #182238;

    color: #626d83;

    font-size: 12px;
}


/* ==============================
   RESPONSIVE
================================ */

@media (max-width: 900px) {

    .nav-links {
        gap: 15px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .options {
        grid-template-columns: 1fr;
    }

    .steps {
        flex-direction: column;
    }

    .arrow-line {
        transform: rotate(90deg);
    }

    .step-card {
        width: 100%;
    }

    .footer-links {
        margin-top: 30px;

        justify-content: flex-start;

        gap: 50px;
    }
}


@media (max-width: 600px) {

    .navbar {
        flex-direction: column;

        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;

        justify-content: center;
    }

    .hero {
        padding: 50px 20px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .problem-footer {
        flex-direction: column;

        gap: 15px;

        align-items: flex-start;
    }

    .cta {
        margin: 30px 20px;

        flex-direction: column;

        align-items: flex-start;
    }
}